body {
    background-color: lightgray;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.game {
    background-color: black;
    color: white;
    max-width: 500px;
    max-height: 500px;
    margin: 20vh auto 0 auto;
    padding: 30px 0;
    border-radius: 20px;
}

button {
    background-color: white;
    border: 1px solid transparent;
    padding: 20px 40px;
    margin: 10px 10px;
}